.avatar {
	border-radius: 50%;
	width: 50px;
}

.avatar-small {
	border-radius: 50%;
	width: 20px;
}

.avatar-nav {
	border-radius: 50%;
	width: 40px;
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 3px;
	margin-left: 3px;
}