.btn-home {
	color: white;
	background-color: #1B100D;
	border-radius: 5px;
	padding: 10px 15px;
	font-weight: lighter;
	box-shadow: 1px 1px 2px #1B100D;
	border-width: 0px
}

.btn-home:hover {
	text-decoration: none;
	color: white;
	background-color: #6A2C0C;
}